@model CestaBasicaBeneficiarioModel;

@{
    List<CestaBasicaModel> cestas = ViewBag.cestas;
}

<div class="modal modal-lg fade" id="modalCesta" tabindex="-1" aria-labelledby="modalCestaLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">
                    Registrar entrega de Cesta Básica
                </h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" id="form-edicao">
                <div class="modal-body">
                    <div class="row mb-3">
                        <input type="hidden" asp-for="PessoaID" value="@Model.PessoaID">

                        <div class="col-12 col-sm-6">
                            <label class ="form-label mt-3" asp-for="NomeCompleto">Nome</label>
                            <input type="text" class="form-control" asp-for="NomeCompleto" disabled readonly>
                        </div>
                        <div class="col-12 col-sm-6">
                            <label class="form-label mt-3" asp-for="EnderecoReduzido">Endereço</label>
                            <input type="text" class="form-control" asp-for="EnderecoReduzido" disabled readonly>
                        </div>

                        @if (this.User.GetUserId() < 3)
                        {
                            <div class="col-12 col-sm-6 col-md-4">
                                <label class="form-label mt-3" asp-for="EntregadorID">Entregador</label>
                                <select class="form-select" asp-for="EntregadorID">
                                    @await Component.InvokeAsync("DropProfessores")
                                </select>
                            </div>
                        }
                        else
                        {
                            <div class="col-12 col-sm-6 col-md-4">
                                <label class="form-label mt-3" asp-for="EntregadorID">Entregador</label>
                                <input type="text" class="form-control" asp-for="Entregador" value="@this.User.GetUserName()" disabled readonly>

                                <input type="hidden" asp-for="EntregadorID" value="@this.User.GetUserId()">
                            </div>
                        }
                        <div class="col-12 col-sm-6 col-md-4">
                            <label class="form-label mt-3" asp-for="DataEntrega">Data da Entrega</label>
                            <input type="datetime-local" class="form-control" asp-for="DataEntrega">
                        </div>
                        <div class="col-12 col-sm-6 col-md-4">
                            <label class="form-label mt-3" name="CestaID">Cesta</label>
                            <select class="form-select" name="CestaID">
                                @foreach(var cesta in cestas.Where(x=>x.Quantidade > 0))
                                {
                                    <option value="@cesta.ID">@cesta.Descricao</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="row mb-3">
                        <div class="col-auto">
                            <button type="button" id="btnSalvar" class="btn btn-success btn-sm">
                                <span id="texto-salvar">
                                    <i class="fa-solid fa-floppy-disk"></i>&nbsp;
                                    Salvar
                                </span>
                                <span id="loading" style="display:none; text-align:center;" class="spinner-border spinner-border-sm" role="status"></span>
                            </button>
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal" aria-label="Close">
                                <i class="fa-solid fa-reply"></i>&nbsp;
                                Cancelar
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

