@{
    UsuarioModel usuario = null;
    if (User?.Identity?.IsAuthenticated ?? false)
    {
        usuario = this.User.ObterUsuario();
    }
    var controller = ViewContext.RouteData.Values["controller"]?.ToString();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/jquery.rateyo.min.css" />
    <link asp-append-version="true" rel="stylesheet" href="~/lib/fontawesome/fontawesome.min.css" />
    <link asp-append-version="true" rel="stylesheet" href="~/lib/fontawesome/fontawesome-iconpicker.css" />
    <link asp-append-version="true" rel="stylesheet" href="~/lib/fontawesome/solid.min.css" />
    <link rel="stylesheet" href="~/lib/select2/css/select2.min.css" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BOPE.styles.css" asp-append-version="true" />

</head>
<body class="">
    <header>
        @if (controller != "Home")
        {
            @await Component.InvokeAsync("Navbar")
        }
    </header>
    <div class="container">
        <main role="main" class="py-3">
            @RenderBody()
        </main>
    </div>

    @* <footer class="footer text-muted w-100 mb-3">
        <div class="container d-flex gap-5 mt-3">
            <span>&copy; 2025 - Desenvolvido por Faé</span> <a class="link-light" href="https://portfolio2025-vm6w.onrender.com/" target="_blank">Sobre</a>
        </div>
    </footer> *@

    <script asp-append-version="true" src="~/lib/summernote/summernote-bs5.min.js"></script>
    <script asp-append-version="true" src="~/lib/summernote/summernote-pt-BR.min.js"></script>
    <script asp-append-version="true" src="~/lib/fontawesome/fontawesome.min.js"></script>
    <script asp-append-version="true" src="~/lib/fontawesome/fontawesome-iconpicker.js"></script>
    <script asp-append-version="true" src="~/lib/fontawesome/solid.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/lib/jquery-mask/jquery.mask.js"></script>
    <script src="~/js/js-loading-overlay.min.js"></script>
    <script src="~/lib/select2/js/select2.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    @if (TempData["ALERT_E"] != null)
    {
        <script>
            Swal.fire({
                title: "Erro",
                text: '@Html.Raw(TempData["ALERT_E"])',
                icon: "error"
            });
        </script>
    }

    @if (TempData["ALERT_S"] != null)
    {
        <script>
            Swal.fire({
                text: '@Html.Raw(TempData["ALERT_S"])',
                icon: "success"
            });
        </script>
    }

    @if (TempData["MSG_E"] != null)
    {
        <script>
            Swal.fire({
                title: "Erro",
                text: '@Html.Raw(TempData["MSG_E"])',
                icon: "error"
            });
        </script>
    }

    @if (TempData["MSG_S"] != null)
    {
        <script>
            Swal.fire({
                text: '@Html.Raw(TempData["MSG_S"])',
                icon: "success"
            });
        </script>
    }

    <script>
        if (request.responseJSON != undefined) {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                html: request.responseJSON.detail
            });
        }

        axios.post(url, data)
        .catch(err => {
          if (err.response?.data?.detail) {
            Swal.fire({
              icon: 'error',
              title: err.response.data.title ?? 'Erro',
              text: err.response.data.detail
            });
          }
        });
    </script>


</body>
</html>
