@model List<Funcionamento>

@if (Model == null || Model.Count() <= 0)
{
    @await Component.InvokeAsync("TabelaSemRegistros")
}
else
{
    <div class="col">
        <table class="table table-striped-columns">
            <thead>
                <tr>
                    <td>Dia</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                @foreach (var item in Model.OrderBy(x => x.DiaID))
                {
                    <tr>
                        <td>@item.DiaID.Value.DiaDaSemanaExtenso()</td>
                        <td>@item.ManhaAbertura</td>
                        <td>@item.ManhaFechamento</td>
                        <td>@item.TardeAbertura</td>
                        <td>@item.TardeFechamento</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}